---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nba/<NBA_SPORT_RADAR_V4_ACCESS_LEVEL>/v4/en/teams/583ec825-fb46-11e1-82cb-f4ce4684ea4c/profile.json?api_key=<NBA_SPORT_RADAR_V4_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json;charset=utf-8
      X-Be-Cache:
      - MISS
      X-Fe-Cache:
      - MISS
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-64.mashery.com
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Translation-Proxy
      X-Plan-Qps-All<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ted:
      - '25'
      X-Plan-Qu<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a-All<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ted:
      - '15000'
      X-Plan-Qu<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a-Current:
      - '50'
    body:
      encoding: UTF-8
      string: '{"id":"583ec825-fb46-11e1-82cb-f4ce4684ea4c","name":"Warriors","market":"Golden
        State","alias":"GSW","founded":1946,"reference":"1610612744","venue":{"id":"e25e21f2-1d67-5f13-910b-81fc8629eea7","name":"Oracle
        Arena","capacity":19596,"address":"7000 Coliseum Way","city":"Oakland","state":"CA","zip":"94621","country":"USA"},"league":{"id":"4353138d-4c22-4396-95d8-5f587d2df25c","name":"NBA","alias":"NBA"},"conference":{"id":"7fe7e212-de01-4f8f-a31d-b9f0a95731e3","name":"WESTERN
        CONFERENCE","alias":"WESTERN"},"division":{"id":"f074cb3e-90cf-42e1-8067-cdbcd99ec230","name":"Pacific","alias":"PACIFIC"},"coaches":[{"id":"04bb3fde-d798-44a1-a4c1-2c98c9bbf04b","full_name":"Steve
        Kerr","first_name":"Steve","last_name":"Kerr","position":"Head Coach","experience":"1","reference":"204005"}],"players":[{"id":"03854148-a3fa-4564-b1ff-922fe0ba32ba","status":"ACT","full_name":"Patrick
        McCaw","first_name":"Patrick","last_name":"McCaw","abbr_name":"P.McCaw","height":79,"weight":185,"position":"G","primary_position":"SG","jersey_number":"0","experience":"1","college":"Nevada-Las
        Vegas","birth_place":"St. Louis, MO, USA","birthdate":"1995-10-25","updated":"2018-02-12T22:20:00+00:00","reference":"1627775","draft":{"team_id":"583ecefd-fb46-11e1-82cb-f4ce4684ea4c","year":2016,"round":"2","pick":"38"}},{"id":"11bda3d9-55a2-4489-928a-1648e6231784","status":"ACT","full_name":"Jordan
        Bell","first_name":"Jordan","last_name":"Bell","abbr_name":"J.Bell","height":81,"weight":224,"position":"F","primary_position":"PF","jersey_number":"2","experience":"0","college":"Oregon","birth_place":"Los
        Angeles, CA, USA","birthdate":"1995-01-07","updated":"2018-03-05T23:28:03+00:00","reference":"1628395","draft":{"team_id":"583ec5fd-fb46-11e1-82cb-f4ce4684ea4c","year":2017,"round":"2","pick[...]
