---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>2/games/b1dbf64f-822a-49b7-9bf3-070f5d6da827/roster.json?api_key=<NFL_SPORT_RADAR_V2_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json;charset=utf-8
      X-Be-Cache:
      - MISS
      X-Fe-Cache:
      - MISS
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-59.mashery.com
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Delivery-Proxy
      X-Plan-Qps-All<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ted:
      - '1'
      X-Plan-Qu<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a-All<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ted:
      - '1000'
      X-Plan-Qu<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a-Current:
      - '144'
    body:
      encoding: UTF-8
      string: '{"id":"b1dbf64f-822a-49b7-9bf3-070f5d6da827","status":"closed","reference":"57428","number":195,"scheduled":"2017-12-10T18:00:00+00:00","attendance":73728,"utc_offset":-5,"entry_mode":"INGEST","weather":"Sunny
        Temp: 41 F, Humidity: 49%, Wind: West 5 mph","clock":"00:00","quarter":4,"summary":{"season":{"id":"3cf0e8ec-048d-4872-a706-b248c198831c","year":2017,"type":"REG","name":"REG"},"week":{"id":"d3bb33eb-c232-4ce1-95a6-b4e54edeb8d3","sequence":14,"title":"14"},"venue":{"id":"39be9ed4-3292-49ac-8699-a381de3a4969","name":"Bank
        of America Stadium","city":"Charl<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>te","state":"NC","country":"USA","zip":"28202","address":"800
        South Mint Street","capacity":73778,"surface":"turf","roof_type":"outdoor"},"home":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"},"away":{"id":"33405046-04ee-4058-a950-d606f8c30852","name":"Vikings","market":"Minnes<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a","alias":"MIN","reference":"5027"}},"home":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040","players":[{"id":"2d19098b-f154-4b28-976d-79182af014df","name":"Star
        L<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ulelei","jersey":"98","last_name":"L<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ulelei","first_name":"Star","abbr_name":"S.L<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ulelei","preferred_name":"Star","birth_date":"1989-12-20","weight":315.0,"height":74,"position":"DT","age":27,"birth_place":",,
        TON","high_school":"Bingham (UT)","college":"Utah","college_conf":"Pacific
        Twelve Conference","rookie_year":2013,"status":"started","draft":{"year":2013,"round":1,"number":14,"team":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR"}},"references":[{"id":"00-0030455","origin":"gsis"},{"id":"39960","origin":"nflx"}]},{"id":"c058f888-ff75-4f13-a9e7-3f5be65288bf","name":"Julius
        Peppers","jersey":"90","last_name":"Peppers","first_name":"Julius","abbr_name":"J.Peppers","preferred_name":"Julius","birth_date":"1980-01-18","weight":295.0,"height":79,"position":"DE","age":37,"birth_place":"Wilson,
        NC, USA","high_school":"Southern Nash (NC)","college":"North Carolina","college_conf":"Atlantic
        Coast Conference","rookie_year":2002,"status":"started","draf[...]
