---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>2/games/b1dbf64f-822a-49b7-9bf3-070f5d6da827/boxscore.json?api_key=<NFL_SPORT_RADAR_V2_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json;charset=utf-8
      X-Be-Cache:
      - MISS
      X-Fe-Cache:
      - MISS
      X-Mashery-Responder:
      - prod-j-worker-us-east-1e-68.mashery.com
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Delivery-Proxy
      X-Plan-Qps-All<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ted:
      - '1'
      X-Plan-Qu<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a-All<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ted:
      - '1000'
      X-Plan-Qu<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a-Current:
      - '142'
    body:
      encoding: UTF-8
      string: '{"id":"b1dbf64f-822a-49b7-9bf3-070f5d6da827","status":"closed","reference":"57428","number":195,"scheduled":"2017-12-10T18:00:00+00:00","attendance":73728,"utc_offset":-5,"entry_mode":"INGEST","weather":"Sunny
        Temp: 41 F, Humidity: 49%, Wind: West 5 mph","clock":"00:00","quarter":4,"summary":{"season":{"id":"3cf0e8ec-048d-4872-a706-b248c198831c","year":2017,"type":"REG","name":"REG"},"week":{"id":"d3bb33eb-c232-4ce1-95a6-b4e54edeb8d3","sequence":14,"title":"14"},"venue":{"id":"39be9ed4-3292-49ac-8699-a381de3a4969","name":"Bank
        of America Stadium","city":"Charl<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>te","state":"NC","country":"USA","zip":"28202","address":"800
        South Mint Street","capacity":73778,"surface":"turf","roof_type":"outdoor"},"home":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040","used_timeouts":1,"remaining_timeouts":2,"points":31},"away":{"id":"33405046-04ee-4058-a950-d606f8c30852","name":"Vikings","market":"Minnes<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a","alias":"MIN","reference":"5027","used_timeouts":3,"remaining_timeouts":0,"points":24}},"situation":{"clock":"00:00","down":4,"yfd":15,"possession":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"},"location":{"id":"33405046-04ee-4058-a950-d606f8c30852","name":"Vikings","market":"Minnes<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a","alias":"MIN","reference":"5027","yardline":22}},"last_event":{"type":"event","id":"d9c85793-cd35-46ae-97a3-5c4332d2e9a1","sequence":4158.0,"reference":"4158","clock":"00:00","event_type":"game_over","description":"END
        GAME","alt_description":"END GAME"},"scoring":[{"period_type":"quarter","id":"65e9dcf2-4460-4fd7-a751-687b2cfd9d32","number":1,"sequence":1,"home_points":7,"away_points":7},{"period_type":"quarter","id":"00beacb2-b91e-404e-b734-797fac4055a8","number":2,"sequence":2,"home_points":7,"away_points":6},{"period_type":"quarter","id":"747b3328-9624-4f7c-a7c1-ba33bd781c4d","number":3,"sequence":3,"home_points":10,"away_points":0},{"period_type":"quarter","id":"54c753be-8ad2-4293-9771-56adcdbe836f","number":4,"sequence":4,"home_points":7,"away_points":11}],"scoring_drives":[{"id":"78ea34db-6730-42a0-aa03-702f441390f7","sequence":2,"start_reason":"Interception","end_reason":"Touchdown","play_count":3,"duration":"1:35","first_downs":1,"gain":69,"penalty_yards":0,"scoring_drive":true,"quarter":{"id":"65e9dcf2-4460-4fd7-a751-687b2cfd9d32","number":1,"sequence":1},"team":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"},"plays":[{"type":"play","id":"3a0082fc-1c8a-4255-95ba-e1c5a4878e6b","sequence":164.0,"reference":"164","clock":"12:30","home_points":0,"away_points":0,"play_type":"rush","play_clock":9,"wall_clock":"2017-12-10T18:08:36+00:00","description":"(12:30)
        (Sh<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>gun) 1-C.Newton right end to CAR 37 for
        6 yards (99-D.Hunter).","alt_description":"(12:30) (Sh<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>gun)
        C.Newton right end to CAR 37 for 6 yards (D.Hunter).","men_in_box":6,"fake_punt":false,"fake_field_goal":false,"screen_pass":false,"blitz":false,"play_direction":"Right","left_tightends":0,"right_tightends":0,"hash_mark":"Right
        Hash","qb_at_snap":"Sh<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>gun","huddle":"Huddle","running_lane":6,"start_situation":{"clock":"12:30","down":1,"yfd":10,"possession":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"},"location":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040","yardline":31}},"end_situation":{"clock":"11:51","down":2,"yfd":4,"possession":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"},"location":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040","yardline":37}},"statistics":[{"stat_type":"rush","attempt":1,"yards":6,"firstdown":0,"inside_20":0,"goaltogo":0,"broken_tackles":0,"kneel_down":0,"scramble":0,"player":{"id":"214e55e4-a089-412d-9598-a16495df0d25","name":"Cam
        Newton","jersey":"01","reference":"00-0027939","position":"QB"},"team":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"}},{"stat_type":"defense","tackle":1,"missed_tackles":0,"def_target":0,"def_comp":0,"blitz":0,"hurry":0,"knockdown":0,"player":{"id":"ba7fe857-df63-4aed-803a-80993b157be4","name":"Danielle
        Hunter","jersey":"99","reference":"00-0031565","position":"DE"},"team":{"id":"33405046-04ee-4058-a950-d606f8c30852","name":"Vikings","market":"Minnes<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a","alias":"MIN","reference":"5027"}}],"details":[{"category":"rush","description":"C.Newton
        rushed right end to CAR 37 for 6 yards.","sequence":1,"direction":"right end","yards":6,"result":"tackled","start_location":{"alias":"CAR","yardline":31},"end_location":{"alias":"CAR","yardline":37},"players":[{"id":"214e55e4-a089-412d-9598-a16495df0d25","name":"Cam
        Newton","jersey":"01","reference":"00-0027939","position":"QB","role":"rush"}]},{"category":"tackle","description":"Tackled
        by D.Hunter at CAR 37.","sequence":2,"result":"tackled","start_location":{"alias":"CAR","yardline":37},"end_location":{"alias":"CAR","yardline":37},"players":[{"id":"ba7fe857-df63-4aed-803a-80993b157be4","name":"Danielle
        Hunter","jersey":"99","reference":"00-0031565","position":"DE","role":"tackle"}]}]},{"type":"play","id":"08a8cfb1-30b9-411d-af8d-798854f94666","sequence":185.0,"reference":"185","clock":"11:51","home_points":0,"away_points":0,"play_type":"pass","play_clock":7,"wall_clock":"2017-12-10T18:09:16+00:00","description":"(11:51)
        1-C.Newton pass short left to 18-D.Byrd to CAR 40 for 3 yards (26-T.Waynes).","alt_description":"(11:51)
        C.Newton pass short left to D.Byrd to CAR 40 for 3 yards (T.Waynes).","players_rushed":4,"men_in_box":7,"fake_punt":false,"fake_field_goal":false,"screen_pass":false,"blitz":false,"play_direction":"Left","left_tightends":0,"right_tightends":2,"hash_mark":"Right
        Hash","pocket_location":"Bo<NFL_SPORT_RADAR_V2_ACCESS_LEVEL> Left","qb_at_snap":"Under
        Center","huddle":"Huddle","pass_route":"Flat","start_situation":{"clock":"11:51","down":2,"yfd":4,"possession":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"},"location":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040","yardline":37}},"end_situation":{"clock":"11:06","down":3,"yfd":1,"possession":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"},"location":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040","yardline":40}},"statistics":[{"stat_type":"pass","attempt":1,"complete":1,"yards":3,"att_yards":3,"firstdown":0,"inside_20":0,"goaltogo":0,"blitz":0,"hurry":0,"knockdown":0,"pocket_time":2.071,"player":{"id":"214e55e4-a089-412d-9598-a16495df0d25","name":"Cam
        Newton","jersey":"01","reference":"00-0027939","position":"QB"},"team":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"}},{"stat_type":"receive","firstdown":0,"target":1,"reception":1,"yards":3,"yards_after_catch":0,"inside_20":0,"goaltogo":0,"dropped":0,"catchable":0,"player":{"id":"48d7bc31-808f-423c-afc8-45c2c5dfa45f","name":"Damiere
        Byrd","jersey":"18","reference":"00-0031868","position":"WR"},"team":{"id":"f14bf5cc-9a82-4a38-bc15-d39f75ed5314","name":"Panthers","market":"Carolina","alias":"CAR","reference":"5040"}},{"stat_type":"defense","tackle":1,"missed_tackles":0,"def_target":1,"def_comp":1,"blitz":0,"hurry":0,"knockdown":0,"player":{"id":"338adc8a-173d-4b1b-a5de-92818bf96823","name":"Trae
        Waynes","jersey":"26","reference":"00-00315[...]
