---
http_interactions:
- request:
    method: get
    uri: https://api.sportradar.us/nfl-<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>2/teams/33405046-04ee-4058-a950-d606f8c30852/full_roster.json?api_key=<NFL_SPORT_RADAR_V2_API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Language:
      - en
      Content-Type:
      - application/json;charset=utf-8
      X-Be-Cache:
      - MISS
      X-Fe-Cache:
      - MISS
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-56.mashery.com
      X-Plan-Qps-Current:
      - '1'
      X-Via:
      - Delivery-Proxy
      X-Plan-Qps-All<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ted:
      - '1'
      X-Plan-Qu<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a-All<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>ted:
      - '1000'
      X-Plan-Qu<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a-Current:
      - '146'
    body:
      encoding: UTF-8
      string: '{"id":"33405046-04ee-4058-a950-d606f8c30852","name":"Vikings","market":"Minnes<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a","alias":"MIN","franchise":{"id":"eea5f772-bd6b-4dc6-a7ef-118708f3a726","name":"Vikings","alias":"MIN","references":[{"id":"16","origin":"gsis"}]},"venue":{"id":"f5ff00d4-1ed8-4918-bf73-13d66d510f98","name":"U.S.
        Bank Stadium","city":"Minneapolis","state":"MN","country":"USA","zip":"55415","address":"900
        S 5th St","capacity":66200,"surface":"turf","roof_type":"dome"},"division":{"id":"6dc1933f-ca90-46e6-aaf7-9b95cc44306a","name":"NFC
        North","alias":"NFC_NORTH"},"conference":{"id":"b1808e5f-d40b-47c0-8af8-5175c0fdcd26","name":"NFC","alias":"NFC"},"references":[{"id":"MIN","origin":"gsis"}],"coaches":[{"id":"402b9614-37b6-4e8a-b3bd-18c060e496af","full_name":"George
        Edwards","first_name":"George","last_name":"Edwards","position":"Defensive
        Coordinator"},{"id":"5ac3a29c-52ba-4bd6-9ddc-15c564998a98","full_name":"Mike
        Zimmer","first_name":"Mike","last_name":"Zimmer","position":"Head Coach"},{"id":"9c4d1f7d-8a0f-43fb-95cb-93a222d766e6","full_name":"John
        DeFilippo","first_name":"John","last_name":"DeFilippo","position":"Offensive
        Coordinator"}],"players":[{"id":"016a6d56-0b72-490e-8dae-41b5d3d2db63","name":"Jaleel
        Johnson","jersey":"94","last_name":"Johnson","first_name":"Jaleel","abbr_name":"J.Johnson","preferred_name":"Jaleel","birth_date":"1994-07-12","weight":316.0,"height":75,"position":"DT","birth_place":"Lombard,
        IL, USA","high_school":"Montini Catholic (IL)","college":"Iowa","college_conf":"Big
        Ten Conference","rookie_year":2017,"status":"A01","draft":{"year":2017,"round":4,"number":109,"team":{"id":"33405046-04ee-4058-a950-d606f8c30852","name":"Vikings","market":"Minnes<NFL_SPORT_RADAR_V2_ACCESS_LEVEL>a","alias":"MIN"}},"references":[{"id":"00-0033940","origin":"gsis"},{"id":"44922","origin":"nflx"}]},{"id":"034cade9-af0c-4c85-b5c6-9d6ada777dcd","name":"Trevon
        Mathis","jersey":"0","last_name":"Mathis","first_name":"Trevon","abbr_name":"T.Mathis","preferred_name":"Trevon","birth_date":"1995-09-12","weight":180.0,"height":72,"position":"DB","birth_place":"Pittsburgh,
        PA[...]
